@font-face {
  font-family: 'Roboto';
  src: url(Roboto/Roboto-Regular.ttf);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
    font-size: 17px;
}

body {
    font-family: 'Roboto';
}

/* Container grid  */

.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr;
}

/* styling header */
.header{
    grid-column: 2/4;
    margin: 1rem 3rem;
    
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    grid-row: 1/2;

}

.header img{
    width: 2rem;
    height: 2rem;
}

.header .prof_pic{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.search,
.top_right,
.hello{
    display: flex;
    gap: 1.5rem;
    height: 60px;

    align-items: center;
}

.search form {
    flex-grow: 1;
}

.search input{
    width: 75%;

    appearance: none;
    border-radius: 10px;
    border: 0;
    line-height: 25px;
    background-color: #e2e8f0;
}

.top_right p{
    flex-grow: 1;
}



/* Styling sidebar */
.sidebar{
    background-color: #0ea5e9;
    color: #fff;
    display: grid;
    gap: 40px;

    grid-row: 1/4;
}

    .title{
        margin: 5px;
        gap: 15px;
        height: 4rem;
        width: 10rem;

        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    }
    
    .title img{
        justify-self: end;
        align-self: center;
    }

    .title h1{
        justify-self: start;
        align-self: center;

        font-size: 2rem;

    }

    .title img{
        height: 50px;
        width: 50px;
    }
    .sidebar ul li img{
        height: 30px;
        width: 30px;
    }

    .icons{
        display: grid;
    
        grid-template-columns: 1fr 3fr;
        gap: 25px;
    }

    .icons img{
        justify-self: end;
    }

    .icons p {
        
        align-self: center;
    }

    .sidebar_ul{
        display: grid;
        gap: 10px;
    }